body {
    margin: 0;
    background-image: url('images/theater-bg.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 660px;
    background-color: #000;
}

.container div {
    background-color: #fff;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.footer {
    margin-top: 50px;
    flex-shrink: 0;
}


